---
layout: default
title: Bookmarks
id: bookmarks
permalink: /bookmarks
---
<style>
.goldstar {
    list-style: "★ ";
}
</style>

Basically just a public bookmarks list of computing articles I found interesting.

{% for category in site.data.bookmarks %}
<h3>{{category.title}}</h3>
    {% for bookmark in category.bookmarks %}
    <li{% if bookmark.goldstar %} class=goldstar{% endif %}>
        {% for tag in bookmark.tags %}<span>[{{tag}}]</span>{% endfor %}
        <a href="{{bookmark.href}}">{{bookmark.title}}</a>
    </li>
    {% endfor %}
{% endfor %}
