---
layout: default
title: Links
id: links
permalink: /links
---
<style>
.goldstar {
    list-style: "★ ";
}
</style>

Basically just a public bookmarks list of computing articles I found interesting.

{% for category in site.data.links %}
<h3>{{category.title}}</h3>
    {% for link in category.links %}
    <li{% if link.goldstar %} class=goldstar{% endif %}>
        {% for tag in link.tags %}<span>[{{tag}}]</span>{% endfor %}
        <a href="{{link.href}}">{{link.title}}</a>
    </li>
    {% endfor %}
{% endfor %}
