body {
	margin: auto;
	width: 800px;
	max-width: 90%;

	background-color: var(--base03);
	color: var(--base0);
	font-family: sans-serif;
}

footer {
	margin-top: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-top: 2px solid var(--base01);
}
