body {
    margin: auto;
    width: 1000px;
    max-width: 90%;

    background-color: var(--col_bg_main);
    color: var(--col_content_main);
    font-family: sans-serif;
}

footer {
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-top: 2px solid var(--col_content_dull);
}
