<!-- Umami analytics -->
{% if site.url == "https://www.neilguertin.com" %}
<script defer src="https://umami.neilguertin.com/script.js" data-website-id="5c14b9ff-9715-4a30-8810-6be03a45e3b3"></script>
{% else %}
<!-- Analytics turned off for development -->
{% endif %}

<meta charset="utf-8"/>

<link rel="icon" href="{{site.baseurl}}/icons/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/icons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/icons/apple-touch-icon.png">
<link rel="manifest" href="{{site.baseurl}}/icons/site.webmanifest">

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/colors.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/page.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/nav.css" media="screen"/>
