<!-- Umami analytics -->
{% if site.url == "https://www.neilguertin.com" %}
<script async defer src="https://umami.neilguertin.com/script.js" data-website-id="cce58257-e634-46e5-a788-87942d6099a6"></script>
<script async defer src="https://umami.neilguertin.com/recorder.js" data-website-id="cce58257-e634-46e5-a788-87942d6099a6" data-sample-rate="0.99" data-mask-level="moderate" data-max-duration="300000"></script>
{% else %}
<!-- Analytics turned off for development -->
{% endif %}

<meta charset="utf-8"/>

<link rel="icon" href="{{site.baseurl}}/icons/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/icons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/icons/apple-touch-icon.png">
<link rel="manifest" href="{{site.baseurl}}/icons/site.webmanifest">

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/colors.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/page.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/nav.css" media="screen"/>
