<nav>
    <ul>
        <li id="navbar-home"><a href="{{site.baseurl}}/">Home</a></li>
        <!--<li id="navbar-about"><a href="{{site.baseurl}}/about">About</a></li>-->
        <li id="navbar-projects"><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li id="navbar-gallery"><a href="https://gallery.neilguertin.com">Gallery</a></li>
        <li id="navbar-resume"><a href="{{site.baseurl}}/resume">Resume</a></li>
        <li id="navbar-reading"><a href="{{site.baseurl}}/reading">Reading</a></li>
        <li id="navbar-bookmarks"><a href="{{site.baseurl}}/bookmarks">Bookmarks</a></li>
        <li id="navbar-contact"><a href="{{site.baseurl}}/contact">Contact</a></li>
    </ul>
</nav>
