nav ul {
    display: flex;
    padding-left: 0;
}

nav ul li {
    flex: auto;

    list-style: none;
    text-align: center;
    border-top: 2px solid var(--col_content_dull);
    border-bottom: 2px solid var(--col_content_dull);
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--col_content_main);
    font-size: large;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: var(--col_bg_highlight);
}

/* Current page */
#body-home #navbar-home,
#body-about #navbar-about,
#body-projects #navbar-projects,
#body-dotfiles #navbar-dotfiles,
#body-resume #navbar-resume,
#body-hiking #navbar-hiking,
#body-running #navbar-running,
#body-reading #navbar-reading,
#body-bookmarks #navbar-bookmarks {
    border-top: 2px solid var(--col_content_bold);
    border-bottom: 2px solid var(--col_content_bold);
}
